
@media (min-width: 830px) {
    #content-wrap {
        width: 80%;
    }

    #button_wrap {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 40vw;
        margin-top: 3em;
    }

    #showWrap {
        margin: 0;
    }

    #clearSearch {
        margin: 0;
    }

    #search_wrapper {
        width: 80%;
        max-width: 60vw;
    }

    #search {
        display: inline;
    }

    #inpAndIconWrap {
       
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #main_img {
        width: 70%;
        height: 50vh;
    }

    #thumb_container {
        display: flex;
        margin-bottom: 3em;
    }
}

@media (min-width: 1400px) {
    #inpAndIconWrap {
        width: 50vw;
    }

    #button_wrap {
        width: 20vw;
    }
}

@media (min-width: 1450px) {
    #showWrap {
        display: none;
    }

    #button_wrap {
        justify-content: center;
    }

    #filter_wrap {
        display: flex;
    }

    #content-wrap {
        flex-direction: row;
        width: 100%;
        align-items: flex-start;
    }

    #grid-container {
        width: 60%;
        
    }
}